{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<li style="margin-bottom: 2em; box-sizing: border-box;">
  <a href="{{ post.url | relative_url }}" style="text-decoration:none;">
    <div style="display: flex; align-items: flex-start; box-sizing: border-box;">
      {% if teaser %}
        <img src="{{ teaser | relative_url }}" alt="Teaser image for {{ title }}" style="max-width:200px; height:auto; margin-right:1em; box-sizing: border-box; object-fit: contain; display: block;">
      {% endif %}
      <div style="box-sizing: border-box; flex: 1; display: flex; flex-direction: column; justify-content: flex-start;">
        <div class="custom-post-title">{{ title }}</div>
        <div class="custom-post-date">
          <i class="fas fa-fw fa-calendar-alt"></i>
          {{ post.date | date: "%B %-d, %Y" }}
        </div>
        {% if post.excerpt %}
          <div class="custom-post-excerpt">{{ post.excerpt | strip_html }}</div>
        {% endif %}
      </div>
    </div>
  </a>
</li>